root = true

[*]
indent_style = space
indent_size = 2

end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{java,kt,kts,scala,rs,xml,kt.spec,kts.spec}]
indent_size = 2

[*.{kt,kts}]
disabled_rules=import-ordering

[*.md]
trim_trailing_whitespace = false
